<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0,
    minimum-scale=1.0, user-scalable=yes, target-densitydpi=medium-dpi" charset="UTF-8">
    <title>Title</title>
</head>
<style>
.div-profile {
 height:600px;
}
.div-profile .image{
    height: 300px;
    text-align: center;
    line-height: 420px;
}
}
.div-profile .image img{
    width: 45%;
    border-radius: 70%;
}

.div-profile .imageFile {
    height: 100px;
    text-align: center;
}

.input-file-button{
  width:80%;
  height:60px;
  padding: 6px 25px;
  background-color:#FF931E;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

</style>

<body>

<div class="div-profile">

        <div class="image">
            <img th:src="${profileImage}" id="image" style="width: 45%; height: 160px; border-radius: 70%;">
        </div>

    <form th:action="@{/mypage/update}" th:object="${form}"  method="post" enctype="multipart/form-data">
        <div class="imageFile">
                <label class="input-file-button" for="files">
                    프로필 사진 선택하기
                 </label>
                 <input type="file" id="files" th:field="*{memberImage}" style="display:none">
        </div>

        <div>
            <input type="text" th:field="*{nickName}" th:value="${form?.nickName}">
        </div>

        <div class="updateBtn">
            <input type="submit" value="완료">
        </div>
    </form>

</div>
</body>
<script>
    document.getElementById("files").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("image").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};
</script>
</html>