<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0,
    minimum-scale=1.0, user-scalable=yes, target-densitydpi=medium-dpi">
    <meta charset="utf-8">
</head>
<body>

<form th:action="@{/products/register}" th:object="${form}" method="post" enctype="multipart/form-data">
    <input type="text" th:field="*{title}" placeholder="제목">
    <input type="number" th:field="*{price}"  placeholder="가격">
    <select  th:field="*{category}">
        <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.value}"></option>
    </select>
    <textarea  th:field="*{description}" placeholder="설명입력란"></textarea>
    <input type="file" th:field="*{productImages}" multiple >
    <input type="submit" value="등록">
</form>

</body>
</html>